.top{
	width: 6.4rem;
	display: flex;
	justify-content: space-between;
	background-color: #50bbdb;
	padding: 0.23rem 0;
}
.top>i{
	width: 0.43em;
	padding-top: 0.43rem;
	background-image: url('../images/back_1.png');
	background-repeat: no-repeat;
	margin-left: 0.45rem;
	-webkit-background-size: contain;
	background-size: contain;
}
.top>span{
	font-size: 0.28rem;
	color:#fff;
	margin-right: 0.26rem;
}
.top>a{
	font-size: 0.28rem;
	color:#fff;
	margin-right: 0.19rem;
}


/*section*/
.succeed{
	display: flex;
	padding: 0.22rem 0;
	border-bottom: 1px solid #dcdcdc;
}
.succeed>i{
	width: 0.34rem;
	height: 0.34rem;
	margin-left: 2.09rem;
	background-image: url('../images/secceed_13.png');
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.succeed>span{
	font-size: 0.24rem;
	color:#50bbdb;
	margin-left: 0.42rem;
}
section>div{
	padding: 0 0.33rem 0 0.4rem;
}
section>div>div>ul{
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.23rem;
}
section>div>div>ul>li{
	font-size: 0.2rem;
}
section>div>div>ul:last-child{
	margin-bottom: 0;
}
section>div>div:first-child{
	padding: 0.26rem 0;
	border-bottom: 1px dashed #dcdcdc;
}
section>div>div:nth-child(2){
	padding: 0.21rem 0;
	border-bottom: 1px dashed #dcdcdc;
}
section>div>div:last-child{
	padding: 0.2rem 0 0.53rem 0;
}


/*footer*/
footer{
	display: flex;
	flex-direction: column;
	background-color: #f6f6f6;
	padding: 0.57rem 0.53rem 0.98rem 0.44rem;
}
footer>p{
	font-size: 0.22rem;
	margin-bottom: 0.96rem;
}
footer>a{
	font-size: 0.32rem;
	border:2px solid #e5e5e5;
	text-align: center;
	border-radius: 6px;
	padding: 0.14rem;
	color:#50bbdb;
}